*.iml
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.log
.idea/
out/
node_modules/
tmp/
reports/
hsf.configuration/
target/
tree.txt
/bin/
*.settings
*.classpath
*.MF
.classpath
eclipse.bat
.settings/
package.bat
package&redepoly.bat
client/bin/*
dep
log
tempDir/
rebel.xml
web/bin/
web/velocity.log*
